<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
        <div class="social-links">
        <a href="https://www.instagram.com/dailyjar" class="btn btn-round btn-clear btn-instagram"><i class="icon-instagram"></i></a>
             
                
                        <a href="http://www.facebook.com/dailyjar" class="btn btn-round btn-clear btn-facebook"><i class="icon-facebook"></i></a>
                
                        <a href="http://www.twitter.com/dailyjarjuice" class="btn btn-round btn-clear btn-twitter"><i class="icon-twitter"></i></a>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
    <p>© 2014 daily jar. All Rights Reserved.</p>
   
  </div>
</footer>